<!DOCTYPE html>
<html lang="en">
<head>
	<title>sucess</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<%- include("header") -%>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">

                    <h2 class="title"><center><span style="color: green">Registration Sucessful</span></center></h2>
                    <center>Redirect to login page </center>
                    <a href="/"><center>click here</center></a>
                </div>
            </div>
        </div>
    </div>
<%- include("footer") -%>
</body>
</html>
